/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 12px; }

.parent {
    background-color: aliceblue;
    border-radius: 3px;
    border: 1px solid lightgray;
    max-width: 1024px;
    margin: auto;
    position: relative;
    top: 10px;   
}

.parent > h2 {
   margin: inherit;
   width: 800px;
   padding: 0 15px;
}

.search-section {
    padding: 0 15px;
    margin: auto;
    width: 800px;
}

.search-section > * {
    margin: 3px;
}

.gallery-item {    
    border: 1px dotted #ccc;
    width: 200px;
    height: 250px;
    margin: 5px;
}

.gallery-img {
    background-color: #fafafa;
    height: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
}

.card-container > * {
    display: flex;
}

.gallery-item:hover {
    cursor: pointer;
    border: 1px solid #777;
}

.card-title {
    font-size: 12px;
    color: aquamarine;
}

.paginator {
    font-size: 12px !important;
    width: inherit;
}

.mat-mdc-text-field-wrapper {
    font-size: 12px;
    height: 36px !important;/* 
    width: 350px !important; */
}

.mdc-text-field {
    align-items: center !important;
}

.mat-mdc-form-field-infix {
    width: 280px !important;
}

.mdc-button  {
    font-size: 12px !important;
}

.mat-mdc-floating-label {
    font-size: 12px !important;
}

.modal-image {
    width: 450px;
    height: 500px;
}

.feature-list {
    font-size: 12px;
}

.feature-list li {
    line-height: 20px;
    color: cadetblue;
}

li em {
    color: aquamarine;
}

.features {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}